.mobile-register-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 768px) {
    .mobile-register-container {
      display: none;
    }
  }
  
  .register-alert {
    background-color: #ffeded; /* Light red background */
    color: #d32f2f; /* Red text color */
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    width: 90%;
  }
  
  .mobile-register-btn {
    background-color: #1c1f26; /* Dark background */
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: bold;
    width: 90%;
    /* max-width: 400px; */
    cursor: pointer;
  }
  
  .mobile-register-btn:hover {
    opacity: 0.9;
  }
  